<%= link_to post_like_path(post_id: post.id, id: post.likes.find_by(user_id: current_user.id).id),
  method: :delete,
  id: "target-heart-fill-#{post.id}",
  remote: true,
  class: "btn" do %>
    <span class="p-2">
    <i  class="bi bi-heart-fill"></i>
    <%= post.likes.size %>
  </span>
<% end %>