  <div class="modal fade" 
      id="main-modal"
      tabindex="-1"
      aria-labelledby="screen-modal"
      aria-hidden="true"
      >

    <div class="modal-dialog">
      <div class="modal-content"></div>
    </div>
  </div>  