.field_with_errors{
    display: inline;
    background-color: rgba(241, 121, 121, 0.6);
}

.caret-off::before,
.caret-off::after{
    display: none;
}

.modal-open{
    padding: 0 !important;
}

.post {

    padding: 1rem;
    margin-top: 0.5rem;
    border-bottom: 1px solid rgba(175, 173, 173, 0.3);
}

.comment {
    padding-top: 1rem;
    border-top: 1px solid rgba(175, 173, 173, 0.3);
}