<div class="container" id="feed">
  <% @posts.each do |post| %>
    <div class="conatiner post">
      <%# USER AVATAR, NAME, LAST NAME%>
      <%# POST HEADER (ELIPSES -> dropdown DELETE)%>
      <%# POST BODY %>
      <p class="fs-6">
        <%= post.body%>
      </p>
      <%# POST FOOTER (HEART, COMMENT ICON%>
    </div>
  <% end %>
</div>
